{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'estoque/css/estoque.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
        .form-inline .form-group {
            margin: 0;
          }
        
    </style>
    <body>        
        <form action="" method="POST"> {% csrf_token %}
            <div class="input-group mb-3">              
                <input type="text" name="description" placeholder="{{descricaoCompleta}}" aria-label="Username" aria-describedby="basic-addon1">
                <button type="submit">Enviar</button>
            </div>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>LOJA</th>
                        <th>ESTQ</th>
                        <th>PEDI</th>
                        <th>MED_VND</th>
                        <th>ULT.ENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        
                        <td>MTZ</td>
                        <td>{{estq1}}</td>
                        <td>{{pedido1}}</td>
                        <td>{{mediaVenda1}}</td>
                        <td><img src="{{ultimoCGO1}}"> {{ultimaCompraMov1}}</td>
                        
                    </tr>
                    <tr>
                        <td>BRV</td>
                        <td>{{estq3}}</td>
                        <td>{{pedido3}}</td>
                        <td>{{mediaVenda3}}</td>
                        <td><img src="{{ultimoCGO3}}"> {{ultimaCompraMov3}}</td>
                    </tr>
                    <tr>
                        <td>MAL</td>
                        <td>{{estq4}}</td>
                        <td>{{pedido4}}</td>
                        <td>{{mediaVenda4}}</td>
                        <td><img src="{{ultimoCGO4}}"> {{ultimaCompraMov4}}</td>
                    </tr>
                    <tr>
                        <td>CTR</td>
                        <td>{{estq5}}</td>
                        <td>{{pedido5}}</td>
                        <td>{{mediaVenda5}}</td>
                        <td><img src="{{ultimoCGO5}}"> {{ultimaCompraMov5}}</td>
                    </tr>
                    <tr>
                        <td>CD</td>
                        <td>{{estq99}}</td>
                        <td>{{pedido99}}</td>
                        <td>{{mediaVenda99}}</td>
                        <td><img src="{{ultimoCGO99}}"> {{ultimaCompraMov99}}</td>
                    </tr>
                </tbody>
            </table>


        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        
    </body>
</html>

{% if responseErro %}
<div class="alert alert-danger" role="alert">
    {{ responseErro }}
</div>
{% endif %}